.upper {
    display: flex;
    justify-content: space-around;
}

.upper .logo-desktop img {
    padding-top: 50px;
    max-width: 200px;
    height: auto; 
}

.upper .plantleft img {
    max-width: 200px;
    height: auto;
    margin-top: -3px;
}

.upper .plantright img {
    margin-top: 95px;
    max-width: 290px;
    height: auto;
    z-index: 1;
    position: absolute;
    right: 5px;
    display: none;
}

.contact {
    background-color: #fff;
    margin: -5px 10px 30px 10px;
}

.form-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.find-us {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.find-us p, .tel a {
    font-size: 18px;
    line-height: 0px;
    color: #52604F;
    letter-spacing: 2px;
    text-decoration: none;
}

h2, h3, h4 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.form-err {
    color: #af2020;
    font-size: 14px;
    font-weight: 500;
    display: none;
    text-align: center;
    padding: 10px 0;
    max-width: 300px;
}

#name-error, #email-error, #sub-error, #mess-error {
    max-width: 300px;
    text-align: center;
    margin: auto;
}

.column label{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: 450;
    color: #52604F;
}

#contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    max-width: 350px;
}

input#message {
    padding: 30px;
}

.sub-btn {
    background-color: #B6CCC1;
    color: #31372F;
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
    border-radius: 0;
    border-style: none;
    width: 200px;
    height: 38px;
    text-align: center;
    cursor: pointer;
    font-weight: 450;
    margin: auto;
}

.sub-btn:hover {
    background-color: #52604F;
    color: #fff;
}

legend {
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: 25px;
   font-weight: 600;
   margin-bottom: -30px;
   font-family: "NotoSerifDisplay", Verdana, Tahoma, sans-serif;
}

input, textarea {
    width: 220px;
    padding: 12px;
    margin-bottom: 15px;
    color: #52604F;
}

textarea {
    height: 200px;
}

.column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

.contact-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact-p {
    font-size: 18px;
    padding: 0px 20px 40px 20px;
    line-height: 35px;
    text-align: left;
    font-weight: 450;
    color: #52604F;
    max-width: 700px;
}

input:focus, textarea:focus {
    border-color: #B6CCC1;
    outline: none;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 10px 10px;
}

.bottom img {
    max-width: 100%;
    height: auto;
}

.tagline {
    padding: 20px 0;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

@media (min-width: 450px) {
    .contact {
        margin: -5px 40px 40px;
        padding-bottom: 5px;
    }

    .find-us p {
        font-size: 18px;
    }
}


@media (min-width: 600px) {
    .upper .plantleft img {
        position: absolute;
        z-index: 999;
        margin-top: 29px;
        left: 10px;
    }
    .contact {
        margin-top: 30px;
    }

    input, textarea {
        width: 350px;
    }
}

@media (min-width: 712px) {
    .upper .plantleft img {
        left: 90px;
    }
}


@media (min-width: 790px) { 
    .upper .plantright img {
        display: block;
    }
    
}

@media (min-width: 846px) { 
    .find-us {
        margin-top: -100px;
    }  
}
