.upper {
    display: flex;
    justify-content: space-around;
}

.upper .logo-desktop img {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 200px;
    height: auto; 
}

.upper .plantleft img {
    max-width: 650px;
    height: auto;
    margin-bottom: -120px;
}

.upper .plantright img {
    margin-top: 70px;
    max-width: 300px;
    height: auto;
    z-index: 1;
    position: absolute;
    right: 30px;
    display: none;
}

#posts {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 50px 24px 0 24px;
    padding-bottom: 50px;
}

#posts h1 {
    font-size: 45px;
}

.loader-here {
    display: flex;
    justify-content: center;
}

.card-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-flow: row wrap;
}

.posts-holder {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    order: 3;
}

.card {
    background-color: #B6CCC1;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 270px;
    height: 470px;
    padding: 10px;
}

.card a {
    text-decoration: none;
}

.card img {
    width: 240px;
    height: 304px;
    padding: 10px;
    object-fit: cover;
    object-position: 50% 50%;
}

.card-p {
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #31372F;
    font-weight: 400;
    text-align: center;
}

.read-btn {
    background-color: #52604F;
    color: #fff;
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
    border-radius: 0;
    border-style: none;
    height: 38px;
    padding: 3px 35px 3px 35px;
    text-transform: uppercase;
    cursor: pointer;
} 

.read-btn:hover {
    background-color: #fff;
    color: #52604F;
    font-weight: bold;
}

#next-btn {
    cursor: pointer;
    background-color: #B6CCC1;
    border-radius: 50%;
    border-color: transparent;
    padding: 6px;
    font-size: 30px;
    color: #31372F;
    order: 2;
}

#prev-btn {
    cursor: pointer;
    background-color: #B6CCC1;
    border-radius: 50%;
    border-color: transparent;
    font-size: 30px;
    padding: 6px;
    color: #31372F;
    order: 1;
}


#prev-btn:hover, #next-btn:hover {
    background-color: #52604F;
    color: #fff;
}

#plants {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.plant-h2 {
    color: #ffff;
    text-align: center;
    font-size: 45px;
}

.plant-p {
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    color: #31372F;
    font-weight: 400;
    text-align: center;
}

.plant-card a {
    text-decoration: none;
}

.plant-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
} 

.plant-card {
    background-color: #B6CCC1;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.plant-card img {
    width: 270px;
    height: 336px;
    padding: 10px;
}

#featured {
    background-color: #fff;
    margin: 22px;
}

.featured-post {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#featured img {
    max-width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.featured-post a {
    text-decoration: none;
    color: #52604F;
}

.text-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
}

h3 {
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 450;
}

.heading-p {
    text-transform: uppercase;
    margin-bottom: -10px;
    font-size: 18px;
}

.more-btn {
    background-color: #B6CCC1;
    color: #31372F;
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
    border-radius: 0;
    border-style: none;
    height: 38px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin: -10px 90px 30px 90px;
}

.extract-p {
    text-align: center;
    padding: 0 10px 10px 10px;
    font-size: 16px;
}

.more-btn:hover {
    background-color: #52604F;
    color: #fff;
}

#care-guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#care-guide img {
    width: 300px;
    height: auto;
}

.care-h4 {
    color: #fff;
    font-size: 45px;
}

.first-div {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 200px;
    margin-bottom: 200px;
}

.guide-holder {
    background-color: #fff;
    color: #52604F;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: absolute;
    font-size: 16px;
    margin: 0 20px -180px 0px;
}

.guide a {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.small-text {
    padding-bottom: 3px;
    max-width: 500px;
}

@media (min-width: 450px) {
    #posts {
        margin: 20px 50px 0 50px;
    }
}

@media (min-width: 508px) {
    .carousel-wrapper {
        flex-flow: row nowrap;
    }

    .posts-holder {
        order: 2;
    }
    #prev-btn {
        order: 1;
    }

    #next-btn {
        order: 3;
    }

    .extract-p {
       padding: 0 15px 0 15px;
    }
    #care-guide img {
        width: 400px;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

@media (min-width: 600px) {
    .upper .plantleft img {
        position: absolute;
        z-index: 999;
        margin-top: 20px;
        left: -30px;
    }

    #featured {
        margin: 50px;
    }

    #featured img {
        max-width: 400px;
        height: auto;
    }

    .more-btn {
        margin: 0 100px;
      }

    #care-guide img {
        width: 600px;
        height: 400px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .first-div {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 100px;
    }
    
    .guide-holder {
        background-color: #fff;
        color: #52604F;
        text-align: center;
        padding: 15px;
        position: absolute;
        margin: 0 20px -90px 20px;
    }
}

@media (min-width: 712px) {
    .upper .plantleft img {
        left: 10px;
    }
    .extract-p {
        max-width: 560px;
    }
}

@media (min-width: 790px) { 
    #featured {
        margin: 57px;
    }

    #featured img {
        max-width: 450px;
        height: auto;
    }

    .more-btn {
        margin: 0 200px;
    }

    .upper .plantright img {
        display: block;
    }
}

@media (min-width: 1000px) {
    .featured-post {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }    

    .extract-p {
        max-width: 560px;
        font-size: 18px;

    }

     #featured img {
        max-width: 290px;
        height: auto;
        margin-top: 0px;
        margin-right: -16px;
        margin-bottom: 0px;
    }
}

@media (min-width: 1100px) {
    .featured-post {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }    

     #featured img {
        max-width: 350px;
        height: auto;
        margin-top: 0px;
        margin-right: -100px;
    }
}

@media (min-width: 1300px) {
    .featured-post {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }    

    .extract-p {
        max-width: 590px;
        padding: 0 20px 0 20px;
     }

     #featured img {
        margin-top: 0px;
        margin-right: -40px;
        max-width: 500px;
    }
}
