.upper {
    display: flex;
    justify-content: space-around;
}

.upper .logo-desktop img {
    padding: 0 20px;
    max-width: 200px;
    height: auto; 
    text-align: center;
}

.upper .plantleft img {
    max-width: 270px;
    height: auto;
    margin-bottom: -120px;
}

.upper .plantright img {
    margin-top: 25px;
    max-width: 260px;
    height: auto;
    z-index: 1;
    position: absolute;
    right: 13px;
    display: none;
}

#post-container {
    background-color: #fff;
    margin: 20px 20px;
}

.post-div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.text-img {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column wrap;
   font-size: 22px;
   word-spacing: 2px;
   line-height: 1.5;
}

.text-img img, .image-wrapper img {
    max-width: 250px;
    height: auto;
}

.content-p {
   display: flex;
   flex-wrap: wrap;
   font-size: 16px;
}

.content-p li {
    padding: 10px;
}

.content-p li::marker {
    font-weight: 500;
}

.wp-block-group___inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wp-block-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
    font-weight: 400;
}

figure {
    text-align: center;
    margin: 0 auto;
}

.wp-block-image img{
    max-width: 100%;
    height: auto;
}

.wp-element-caption {
    text-align: center;
    max-width: 200px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
    padding-bottom: 20px;
}

.has-text-align-center {
    text-align: center;
    margin: auto;
}

.modal-container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(88, 88, 88, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; 
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
}

.wp-block-image.expand img {
    max-width: 250px;
}

@media (min-width: 500px) {
    .content-p {
        width: auto;
    }

     #post-container {
        margin: 20px 40px;
    }
    
    .text-img img, .image-wrapper img {
        max-width: 350px;
    }
}

@media (min-width: 600px) {
    .upper .plantleft img {
        position: absolute;
        z-index: 999;
        margin-top: 30px;
        left: -30px;
    }

    h1 {
        font-size: 40px;
    }   

    .text-img {
        max-width: 600;
     }

     .content-p {
        font-size: 20px;
        max-width: 700px;
     }

     .text-img {
       line-height: 1.5;
     }
}

@media (min-width: 712px) {
    .upper .plantleft img {
        left: 40px;
    }
}

@media (min-width: 790px) {
    .upper .plantright img {
        display: block;
    }

    .text-img img, .image-wrapper img {
        max-width: 600px;
    }

    .wp-block-image img{
        max-width: 400px;
        height: auto;
    }
}

@media (min-width: 1100px) {
    .text-img {
        flex-flow: row nowrap;
        align-items:start;
        font-size: 20px;
        padding: 40px;
     }

    .post-div {
        justify-content: center;
    }
        

    .text-img img, .image-wrapper img {
        max-width: 400px;
    }

    p {
        padding-right: 10px;
    }
}

@media (min-width: 1400px) {
    .text-img img, .image-wrapper img {  
        max-width: 600px;
    }
}

@media (min-width: 1600px) {
    .text-img img, .image-wrapper img {  
        max-width: 800px;
    }

    .wp-block-image img{
        max-width: 600px;
        height: auto;
    }
}

@media (min-width: 1971px) {
    .text-img img, .image-wrapper img {  
        max-width: 900px;
    }
}