@font-face { 
    font-family: "NotoSerifDisplay";
    src: url("../Fonts/NotoSerifDisplay-VariableFont_wdth\,wght.ttf") format("truetype");
    font-display: swap;
}

@font-face { 
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

body {
    background-color: #52604E;
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
    color: #52604F;
}

h1, h2, h3, h4, h5 {
    font-family: "NotoSerifDisplay", Verdana, Tahoma, sans-serif;
}

.navbar {
    background-color: #fff;
    padding: 20px;
    margin: -8px -8px 0px -8px;
}

.nav-list a {
    text-decoration: none;
    font-family: "Montserrat", Verdana, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #52604F;
    font-weight: 450;
    font-size: 20px;
}

.nav-list {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: absolute;
    padding-top: 20px;
    width: 89%;
    top: 151px;
    padding: 20px;
    margin-left: 0.5px;
    left: 0;
    z-index: 1;
} 

.hamburger-icon {
    margin-top: 45px;
    width: 30px;
    height: 30px;
    background-image: url(../Images/Hamburger.png);
    background-size: cover;
}

.nav-list.show {
    display: flex;
}

.nav-list li {
   margin-bottom: 20px;
 }

.toggle-menu {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

#active {
    text-decoration: underline;
}

.logo-desktop {
    display: none;
}

.logo-mobile {
    max-width: 140px;
    height: auto;
}

#footer {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.navigate h5, .navigate h2, .follow h5, .follow h2 {
    font-size: 35px;
    text-decoration: underline;
    color: #52604F;
    text-align: center;
    margin-bottom: 0px;
}

.navigate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 1;
}

.navigate a, .navigate li {
    text-decoration: none;
    color: #52604F;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5px;
    margin-right: 18px;
}

.navigate a:hover, .navigate li:hover, .nav-list a:hover {
    font-weight: bold;
    background-color: #B6CCC1;
}

.loader-div {
    display: flex;
    justify-content: center;
}

.loader {
    border: 16px solid #B6CCC1; 
    border-top: 16px solid #52604F; 
    background-image: url(../Images/Leaf.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: absolute;
}

.logo-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    order: 3;
}

.logo-foot img {
    max-width: 200px;
    height: auto;
    padding-top: 30px;
}

.follow {
    order: 2;
}

.follow img {
    padding-left: 5px;
    padding-top: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error {
 color: #fff;
 text-align: center;
}

@media (min-width: 600px) {
    .toggle-menu {
        display: none;
    }

    .nav-list {
        display: flex;
        background-color: rgba(255, 255, 255, 1.0);
        justify-content: space-around;
        align-items: center;
        margin: auto;
        padding-top: 15px;
        flex-direction: row;
        top: 0;
        left: 0;
        right: 0;
    }

    .hamburger-icon {
        display: none;
    }

    .nav-list li {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .logo-desktop {
        padding-top: 40px;
        display: block;
    }
}

@media (min-width: 750px) {
    #footer {
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .follow {
        margin-top: -60px;
        padding-bottom: 10px;
        order: 3;
    }

    .logo-foot {
        order: 2;
    }

    .navigate {
        order: 1;
    }

    .logo-foot img {
        max-width: 250px;
        height: auto;
    }
}
